/* RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* GLOBAL  */
body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER  */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;

}

header h1 {
  text-align: center;
  width: 350px;
}

header nav a {
  font-size: 1.2rem;
}

header nav a:hover {
  color: rgb(70, 139, 228)
}

/* HOME  */
.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.home figure {
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}

.home figure:hover {
  scale: 1.05
}

.home figure figcaption {
  font-size: 1.4rem;
  text-align: center;
}


.home figure img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
}


/* PHONE PAGE  */
.phoneDetails-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.phoneDetails-container p {
  font-size: 1.1rem;
}

.phoneDetails-container img {
  width: 300px;
  border-radius: 15px;
}

.phoneDetails-container .description {
  text-align: center;
  max-width: 650px;
}

.specifications h3 {
  text-align: center;
  margin-bottom: 1rem;
}



.specifications .specifications-container {
  display: flex;
  min-width: 100%;
  gap: 4rem;
}


.specifications .specifications-container div {
  display: flex;
  flex-direction: column;
}

.specifications .specifications-container div p {
  font-size: 1rem;
}

/* NOT FOUND  */
.not-found {
  margin: auto 0;
  text-align: center;
  margin-top: 5rem;
}

.not-found h1 {
  font-size: 6rem;
}


/* LOADING  */
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
}

.ring {
  --uib-size: 80px;
  --uib-speed: 2s;
  --uib-color: white;

  height: var(--uib-size);
  width: var(--uib-size);
  vertical-align: middle;
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
}

.ring circle {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -124px;
  }
}




@media screen and (min-width: 750px) {
  p {
    font-size: 1.4rem !important;
  }

  .specifications h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }


  .specifications .specifications-container {
    gap: 7rem;
  }

}